.computerlab_main{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 96%;
  height: 795px;
}
img{
  display: inline;
  height: 500px;
  width: 1180px;
  border-radius: 5px;
  padding-top: 15px;
}
p{
  font-size: 18px;
}
.body{
  font-size: 40px;
  font-family: TimesNewRoman;
  background-color: #95968e;
  border-radius: 5px;
}