{% include 'header.html' %}
<link type="text/css" rel="stylesheet" href="/static/boyshostel.css">
<div class="boyshostel_main">
    <div class="body"><center>Boys Hostel</center></div>
        <div class ="img">
            <center><img src="/static/img/boyshostel.jpg"></center>
        </div><br><br><br><br>
    <p class="msg" align="justify">The college has one in-campus hostel with capacity of 100 inmates equiped with Wi-Fi facilities. 
        The rooms are spacious, well-furnished and duly maintained.Mess facility is provided for students.
        Hygienic vegetarian and non-vegetarian foods are provided to the students at a nominal rate. 
        Hostel is provided with first aid kits and medicines to take care of simple illness.
        The hostel is a three stair building. Presently a limited numbers of seats are available for upcoming 
        new batch students. Admissions are fully based on OJEE ranks and applicants permanent resident distance 
        from the institute.</p>
    <div>
        <b><u>Hostel Fees ( Per Semester):</u></b><br><br>
        <table class="TFtable" border='1' cellpadding='5' size='90'>
        <tbody>
            <tr>
                <th width="100">Sl.No</th>
                <th width="200">Head</th>
                <th width="300">Fee</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Seat rent</td>
                <td>6000/-</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Development Fee</td>
                <td>2000/- ( One Time)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Caution Money</td>
                <td>1000/- (Onetime, refundable)</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Electricity charge</td>
                <td>1500/-</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Common Room Charge</td>
                <td>100/-</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Mess Advance</td>
                <td>15000/-</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Total</td>
                <td>25600/-</td>
            </tr>
        </tbody>
        </table><br>
        <b><u>How to apply :</u></b><br>
        <ul type="square">
            <li>The students those who want to take admission in the hostel are required to apply during the time of admission into the college.</li>
            <li>The selection will be made as per the rank obtained in the entrance exam and the same will be notified in the college website.</li>
            <li>The newly admitted students should read ALL the points carefully, before applying / check-in to Hostel . In case of any doubt, get them clarified from Warden. Violation of any of the rules stating ignorance will not be accepted and will attract disciplinary action</li>
        </ul>
    </div>
</div>
{% include 'footer.html' %}