{% include 'header.html' %}
<link type="text/css" rel="stylesheet" href="/static/computerlab.css">
<div class="computerlab_main">
  <div class="body"><center>Computer Lab</center></div>
    <div class ="img">
        <center><img src="/static/img/computerlab.jpg"></center>
    </div><br<br><br<br>
  <p class="msg" align="justify">
    Modern Computer laboratories for accessing the internet, preparing presentations, 
    computer based teaching and other academic purposes.</p><br><br>
    IMIT has following laboratory facilities.<br><br>
    <ul>
      <li>It consists of well equipped Linux Lab.</li>
      <li>It consists of well equipped Wnidows Lab.</li>
      <li>It consists of well equipped Microprocessor Lab.</li>
    </ul>
</div>
{% include 'footer.html' %}