{% include 'header.html' %}
<div class="imgslider">
</div>

<div class="sidright">
    <H2><CENTER><u>NOTICES</u></CENTER></H2>
    <H4>
        <marquee scrollamount="10" height="200px" width="500px" direction="up" scrolldelay="250" onmouseover="stop()" onmouseout="start()">
            <a style="color:blue; text-decoration: none;"  href="{% url 'index' %}" target="_blank">Welcome to IMIT College</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'admission' %}">Admissions open</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'notices' %}">Notices</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'index' %}">Welcome to IMIT Collge</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'admission' %}">Admissions open</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'notices' %}">Notices</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'admission' %}">Admissions open</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'notices' %}">Notices</a>
                <img src=/static/img/newicon.gif alt height="14" width="30"><br><br>
            <a style="color:blue; text-decoration: none;"  href="{% url 'index' %}">Welcome to IMIT Collge</a>
                <img src=/static/img/newicon.gif alt height="14" width="30">
        </marquee>
    </H4>
</div>

<div class="sidright2">
    <img src="/static/img/principal.jpg" width="80" height="100" align="right">
    <H3 style="color:red">Principal Message :</H3><br><br>
    <p align="justify"> Dear All,<br>
        It is my proud privilege to be a part of IMIT, Cuttack. The college has a very good history and it has produced 
        many brilliant officers, software professionals, managers, administrators and political leaders. 
        The students are very disciplined and teachers are also very sincere. The college has a very good academic and 
        working environment. The college was established in 1962 and is situated in Cuttack, the old capital city of the 
        state of Odisha. I always believe in the principle of the Great Philosopher Aristotle who said “Educating the mind 
        without educating the heart is no education at all”.
        I hope the students of IMIT will be educated both in heart and mind and serve the nation.<br>
        <pre style="front-family:Geogia;">
    
    
    Prof.(Dr.) Manas Ranjan Kabat,
                        Principal
        <pre></p>
</div>

<div align="justify" class="main">
    <H2><CENTER>ADDMISSION RECEIPT FOR STUDY LOAN</CENTER></H2>
    <h2>IMIT</h2>
        The Institute of Management and Information Technology(IMIT), formerly known as College of Accountancy 
        and Management Studies (CAMS), Cuttack was founded way back in 1962. It is a unique prestigious institution
        of the Government of Odisha, and has positioned itself as a premier institute offering various professional
        and technical courses that groom the students to cater to the expectations of modern industry.<br><br>
        The college offers Post Graduate and Research programmes in computer science and Business Administration. 
        The College campus is located at Jobra, Cuttack, on the bank of the river Mahanadi. Being twin to the state 
        capital, Bhubaneswar, the Cyber heart of Odisha, it enjoys many advantages.Its close proximity to many large
        scale industries, central and state public sector undertaking and technical institutions has provided 
        opportunities to its students for project work, practical training and research. While strengthening human 
        resource development efforts in the country, this college lays greater emphasis on qualitative sense of 
        education and not merely quantitative one.</b>
    <h2>Vision of IMIT :</h2>
    <ul type="square">
        <li>
            To be an Institute of national repute and center of excellence in imparting professional education 
            and research through innovative, rigorous and Compassionate Education.
        </li>
    </ul><br>
    <h2>Mission of IMIT :</h2>
    <ul type="square">
        <li>
            To inspire the students and create a climate of learning.
        </li>
        <li>
            To empower the students with Knowledge and Professional skill to face the challenges of changing 
            environment.
        </li>
        <li>
            To maintain the high standards of professional education with a value orientation.
        </li>
        <li>
            To provide a broad range of career-oriented programs to meet the needs of society in general and 
            professional education in particular.
        </li>
    </ul><br>
    <a style="color:blue; text-decoration: none;"  href="{% url 'admission' %}">Admissions open for 2022-24</a>
        <img src=/static/img/newicon.gif alt height="14" width="30">
</div>
{% include 'footer.html' %}