{% include 'header.html' %}
<link type="text/css" rel="stylesheet" href="/static/ladieshostel.css">
<div class="ladieshostel_main">
    <div class="body"><center>Ladies Hostel</center></div>
        <div class ="img">
            <center><img src="/static/img/ladieshostel.jpg"></center>
        </div><br><br><br><br>
    <p class="msg" align="justify">Institute of Management and Information Technology, is one of the premier
    institutes of Odisha. It provides residential facility to female students in the hostel, which is 
    present inside the college campus. The ladies hostel of IMIT started in the year 2014 . 
    The hostel is supervised by the Superintendent and Assistant Superintendent and coordinated by the Warden.
    There are two floors, the ground floor has 11 rooms and the first floor has 12 rooms. Each room can 
    accommodate upto 3 students.</p>
    <div>
        <b><u>Facilities :</u></b><br><br>
        <ul type="square">
            <li>Wi-fi facility for students. </li>
            <li>Safe, neat & clean and noise free campus under CCTV surveillance.</li>
            <li>A spacious dining hall with seating capacity of around 60 students.</li>
            <li>Potable water is provided to the students using water purifier. The students can relax themselves by involve in indoor or outdoor games such as chess, caroms, shuttle etc during their leisure time. A center courtyard is provided within the built up area for playing shuttle. For relaxation and news gathering, the students can make use of Television which is available within the Mess hall. </li>
            <li>Each room is provided with a cot, a table, a chair, a bookshelf, and a ceiling fan and minimum lighting requirements. Residents cannot move the furniture or fittings from one room to another.</li>
            <li>Private cooking in the rooms is prohibited.</li>
            <li>Overnight guests are permitted in a students' room with the Warden's prior permission, but no person of the opposite sex, guest or otherwise is permitted to stay overnight. </li>
            <li>The hostels are fully secured by 24 x 7 security services. The services of the security personnel are monitored by the Warden and Professor-in-Charge Security</li>
            <li>The institute is ragging free institute and same is the hostel. During the first semester of admission all the faculty members of the institute along with Warden on rotation basis do checks regularly to avoid any incident of ragging in the hostel.</li>
            <li>Smoking, consumption of alcoholic drinks and use of narcotic drugs is strictly prohibited.</li>
        </ul><br>
        <b><u>Quality objectives :</u></b><br><br>
        <ul type="square">
            <li>To provide good residential facilities with neat environment.</li>
            <li>To provide nutritious food.</li>
            <li>To improve the team spirit, cooperation and value elders whom the students meet.</li>
        </ul>
        <b><u>Hostel Fees ( Per Semester):</u></b><br><br>
        <table class="TFtable" border='1' cellpadding='5' size='90'>
        <tbody>
            <tr>
                <th width="100">Sl.No</th>
                <th width="200">Head</th>
                <th width="300">Fee</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Seat rent</td>
                <td>6000/-</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Development Fee</td>
                <td>2000/- ( One Time)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Caution Money</td>
                <td>1000/- (Onetime, refundable)</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Electricity charge</td>
                <td>1500/-</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Common Room Charge</td>
                <td>100/-</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Mess Advance</td>
                <td>15000/-</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Total</td>
                <td>25600/-</td>
            </tr>
        </tbody>
        </table><br>
        <b><u>How to apply :</u></b><br>
        <ul type="square">
            <li>The students those who want to take admission in the hostel are required to apply during the time of admission into the college.</li>
            <li>The selection will be made as per the rank obtained in the entrance exam and the same will be notified in the college website.</li>
            <li>The newly admitted students should read ALL the points carefully, before applying / check-in to Hostel . In case of any doubt, get them clarified from Warden. Violation of any of the rules stating ignorance will not be accepted and will attract disciplinary action</li>
        </ul>
    </div>
</div>
{% include 'footer.html' %}