{% include 'header.html' %}
<link type="text/css" rel="stylesheet" href="/static/library.css">
<div class="library_main">
    <div class="body"><center>Library</center>
    </div>
    <div class ="img">
        <center><img src="/static/img/library.jpg"></center>
    </div><br><br><br><br>
    <p class="msg" align="justify">The Library of IMIT is enriched with the latest edition of text books,
         40,000 in numbers consits of National & International journals. A seperate Reading Room for the students
          is also avilable to them, where they can access national newspapers, latest magazines from Technology,
          Digital World,Education and General Awareness .</p>
</div>
{% include 'footer.html' %}