{% include 'header.html' %}
<link type="text/css" rel="stylesheet" href="/static/placement.css">
<div class="placement_main">
    <div class="body"><center>Tranning & Placement</center>
    </div>
    <div class ="img">
        <center><img src="/static/img/placement.jpg"></center>
    </div><br><br><br><br>
    <p class="msg" align="justify">
        The activites relating to placements, training, Educational tours and other presonality developement 
        programs of the students of the departments are controlled and directed by the cell of Training & 
        Placement..
    </p><br>
        The placement committee cosists of the following members:<br><br>
        <ul>
            <li>Prof.(Dr.) M. R. Kabat, Principal</li>
            <li>Dr. S. K. Jayasingh, Associate Professor</li>
            <li>Mr. Ajit Kumar Sitha, Programmer</li>
            <li>Mr. Satyaprakash Swain, Assistant Professor</li>
            <li>Mr. Rajat Kumar Baliarsingh, Assistant Professor</li>
            <li>Mr. Deepak Kumar Das, Technical Assistant</li>
            <li>Mr. Bhabani Sankar Baral, Student Representative(MCA)</li>
            <li>Ms. Harshita Mahapatra, Student Representative (MCA)</li>
            <li>Mr. Aswini Satpathy, Student Representative (MBA)</li>
            <li>Ms. Sonali Swain, Student Representative (MBA)</li>
        </ul>
</div>
{% include 'footer.html' %}